
	
#word {
		width: 600px;
	}
	
	
#btn1 {

		right: 10px;
		font-family: Verdana;
		font-weight: bold;
		background-color: whitesmoke;
		border:1px solid; 
		border-color: #696 #363 #363 #696; 
	}	

	

        