$def with(allcss,alljs)
<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    $for tv in allcss:
    <link rel="stylesheet" href="/static/$:tv" type="text/css"/>

<title>Cloud Data Analysis Supermarket</title>




    $for tv in alljs:
    <script type="text/javascript" src="/static/$tv"></script>



</head>
<body>
    <h1>Cdasm in build</h1>

    <div>
    </div>

    <div id="boxA"
        ondragenter="return dragEnter(event)"
        ondrop="return dragDrop(event)"
        ondragover="return dragOver(event)">

      <div id="drag" draggable="true"
            ondragstart="return dragStart(event)"
            ondragend="return dragEnd(event)">drag me</div>

      <div id="drag2" draggable="true"
            ondragstart="return dragStart(event)"
            ondragend="return dragEnd(event)">drag me</div>

      <div id="drag3" draggable="true"
            ondragstart="return dragStart(event)"
            ondragend="return dragEnd(event)">drag me</div>

    </div>

    <div id="boxB"
        ondragenter="return dragEnter(event)"
        ondrop="return dragDrop(event)"
        ondragover="return dragOver(event)">
    </div>

    <div id="boxC"
        ondragenter="return dragEnter(event)"
        ondrop="return dragDrop(event)"
        ondragover="return dragOver(event)">
    </div>

    <div style="clear:both"></div>
	 <br>


                 <input  type="text" class="word" />
                 <input class="btn1" id="button" type="submit" value="query"/>

        <br><br>


        <ul class="lst">
        </ul>
    <br>

    <div class="container">
    <div id="boxD" class="D">
    </div>
    </div>

    <div style="clear:both"></div>
    <br>

     <div class="bcont">
    <input class="btn2" id="button" type="submit" seldef="1" value="change"/>
    <input class="btn3" id="button" type="submit" seldef="1" value="add"/>
    <input class="btn4" id="button" type="submit"  value="remove"/>
    </div>
    <br><br>

</body>
</html>