<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
<title>HTML5 Drag and drop demonstration</title>

 <link rel="stylesheet" href="static/first.css" type="text/css"/>
 <link rel="stylesheet" href="/static/tutorial.css" type="text/css"/>
 <script type="text/javascript" src="/static/jquery.js"></script>
 <script type="text/javascript" src="/static/dragdrop.js"></script>
 <script type="text/javascript" src="/static/basicfunctions.js"></script>

  <script type="text/javascript">
                                jQuery(document).ready(function()
                                {
                                    jQuery(".btn1").click(function() {
                                        var input_string = $$("input#word").val();
                                        jQuery.ajax(
                                                {
                                                type: "POST",
                                                data: {good: input_string},
                                                success: function(myg)
                                                {

                                                    var obj = JSON.parse(myg);
                                                    var to='';
                                                    console.log(to+'abc');
                                                    console.log(obj);
                                                    for(var tm in obj)
                                                    {
                                                        console.log(obj[tm].title);
                                                    }

                                                    jQuery('#lst').html(genli(obj));
                                                }
                                                });
                                        return false;
                                        });
                                });
        
                        </script>


</head>
<body>
    <h1>Cdasm in build</h1>

    <div> The red box and the orange box can be dragged and dropped between 
    the blue and the green boxes.
    The purple box can be dragged and dropped only to the yellow box.
    </div>

    <div id="boxA"
        ondragenter="return dragEnter(event)"
        ondrop="return dragDrop(event)"
        ondragover="return dragOver(event)">

      <div id="drag" draggable="true"
            ondragstart="return dragStart(event)"
            ondragend="return dragEnd(event)">drag me</div>

      <div id="drag2" draggable="true"
            ondragstart="return dragStart(event)"
            ondragend="return dragEnd(event)">drag me</div>

      <div id="drag3" draggable="true"
            ondragstart="return dragStart(event)"
            ondragend="return dragEnd(event)">drag me</div>

    </div>

    <div id="boxB"
        ondragenter="return dragEnter(event)"
        ondrop="return dragDrop(event)"
        ondragover="return dragOver(event)">
    </div>

    <div id="boxC"
        ondragenter="return dragEnter(event)"
        ondrop="return dragDrop(event)"
        ondragover="return dragOver(event)">
    </div>
    <div style="clear:both"></div>
	 <br>
        <form>

        <input type="text" id="word" />

        <input class="btn1"  type="submit" value="query"/>
        </form>

        <br><br>


        <ul id="lst">
        </ul>
</body>
</html>